

@media (orientation: landscape) {
  #aboutPage{
    background-image: url('../assets/abt_bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 120px;
    color: white;
    font-size: large;
  }
}

@media (orientation: portrait) {
  #aboutPage{
    background-image: url('../assets/abt_bg_m.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
    color: black;
    font-size: 2vh;
  }
}

.about_items{
  height: 75vh;
}

.about_text{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 10px;
}