#JPFever{
  margin-top: 0px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
h1{
  letter-spacing: 4px;
  font-size: 40px;
}
#Overview{
  height: 230px;
  text-align: center;
  line-height: 30px;
}

.proj_video{
  height: 450px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 8%;
}

.Demo{
  height: 500px;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.DemoVideo{
  width: 470px;
  position: relative;
}

.DemoTxt{
  width: 540px;
  text-align: left;
  height: 400px;
  font-size: 17px;
  margin-left: 5px;
}

.DemoTxt_2{
  width: 550px;
  text-align: left;
  height: 400px;
  font-size: 17px;
  margin-left: 60px;
  margin-right: 20px;
}

#Demo1{
  background-color:#77dd77;
  line-height: 20px;
}

#Demo2{
  background-color: aqua;
  line-height: 30px;
}

#Demo3{
  background-color: pink;
  line-height: 30px;
}

.DemoTxt_title{
  font-size: 28px;
}